body {
  background-color: #eee;
  color: black;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 90%;
}
h1 {
  font-size: 150%;
  text-align: center;
  margin: 2ex 0;
}
h2 {
  color: #666;
  font-size: 130%;
}
h3 {
  font-size: 100%;
}
li {
  margin: 1ex 0
}
div#content {
  margin: 2ex auto 2ex auto;
  width: 45em;
  padding: 2em 5em;
  background-color: white;
}
div.logo {
    text-align: center;
}
div.index-bar {
  font-size: 90%;
  text-align: center;
  clear: both;
}
span {
  font-family: monospace;
}
